body{
    background-color:#f5f5f5;
}

.order-header{
    width: 100%;
    height:107px;
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: #fff;
    color: #b0b0b0;
}

.header-container{
    position: relative;
    width:1226px;
    padding-top:25px;
    margin: 0 auto 23px;
    display: flex;
}

.header-container .text{
    font-size: 28px;
    line-height: 57px;
    font-weight: normal;
    color: #424242;
    padding-left: 45px;
}

.operation{
    position: absolute;
    right:0;
    padding: 0 5px;
    line-height: 57px;
}

.header-container a{
    color:#757575;
}

.page-main{
    width:1226px;
    margin:0 auto;
    padding-bottom: 60px;
}

.post-tips{
    width: 1226px;
    margin-top:37px;
    padding: 14px 48px;
    background-color: #fff5ea;
    border: 1px solid #f7dcbe;
    color: #7d684f;
}

.checkout-box{
    padding: 48px 0 0;
    margin-top: 14px;
    background-color: #fff;
}

.section {
    margin-left: 48px;
    margin-right: 48px;
}

.section-header{
    margin-bottom: 20px;
    width: 100%;
}

.section-header .title{
    color: #333;
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    width:150px;
}

.address-item{
    margin-bottom: 24px;
    text-align: center;
    color: #b0b0b0;
    width: 268px;
    height: 178px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    position: relative;
}

.address-item .iconfont{
    width: 30px;
    height: 30px;
    margin: 63px auto 8px;
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-color: #e0e0e0;
    border-radius: 17px;
    color: #fff;
}

.section-goods .section-header{
    border-bottom: 1px solid #e0e0e0;
    height: 40px;
    line-height: 40px;
}

.section-goods .section-header .title{
    float: left;
}

.section-goods .section-header .more{
    float: right;
}

.section-goods .section-header .more a{
    color: #b0b0b0;
}

.good-list{
    display: flex;
    justify-content: space-between;
    height:50px;
    border-bottom: 1px solid #e0e0e0;
}

.good-list li{
    heigth:30px;
    line-height: 30px;
    vertical-align: middle;
    color: #424242;
}

.good-list li a{
    color: #424242;
}

.goods-body .col-total{
    width: 190px;
    text-align: center;
    color: #ff6700;
}

.section-options,
.section-invoice{
    padding: 25px 0 5px 0;
    border-bottom: 1px solid #e0e0e0;
}

.section-options .section-header,
.section-invoice .section-header{
    display: flex;
}

.section-options .section-header .title,
.section-invoice .section-header .title{
    color: #333;
    font-size: 18px;
    font-weight: normal;
}

.shipment,
.invoice-result{
    color: #ff6700;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}

.section-invoice .invoice-result span {
    margin-right: 14px;
}

.section-invoice .invoice-result a{
    color: #ff6700;
}

.section-count{
    min-height: 150px;
    padding: 20px 0;
    position: relative;
}

.section-count .money-box {
    position: absolute;
    right: 0;
    top: 20px;
    text-align: right;
}

.section-count .money-box ul li {
    display: block;
    padding-left: 100px;
    line-height: 2;
    position: relative;
    zoom: 1;
}

.section-count .money-box .val {
    color: #ff6700;
    zoom: 1;
}

.section-count .money-box label {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    color: #757575;
    zoom: 1;
}

.section-count .money-box .total-price em {
    font-size: 30px;
    line-height: 1;
}

.section-bar{
    padding: 20px 48px;
    border-top: 2px solid #f5f5f5;
}

.section-bar .fr .btn {
    vertical-align: top;
    display: inline-block;
    width: 158px;
    height: 38px;
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    margin-left: 89%;
}

