.main-page{
    width:1226px;
    margin:0 auto;
}

.breadcrumbs{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}

.breadcrumbs a {
    color: #757575;
}

.user-main{
    padding-bottom: 40px;
    display: flex;
}

.left-box,
.right-box{
    min-height: 1px;
    background-color: #FFFFFF;
}

.left-box{
    width: 234px;
}

.right-box{
    width: 978px;
    margin-left: 14px;
}

.nav{
    padding: 36px 0;
}

.nav-box{
    margin-bottom: 12px;
}

.title{
    height: 52px;
    margin: 0 48px 2px;
    font-size: 16px;
    font-weight: 400;
    line-height: 52px;
    color: #333;
}

.nav-list li{
    padding: 6px 48px;
}

.nav-list li a{
    color: #757575;
    font-size: 12px;
}

.nav-list li a:hover{
    color: #424242;
}

.right-content{
    margin: 0 48px;
    padding: 36px 0;
}

.content-box{
    padding-top: 24px;
}

.portal-main{
    display: flex;
}

.user-card {
    width: 428px;
    height: 200px;
    display: flex;
}

.user-card .username {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: #616161;
}

.user-card .tip {
    margin: 0 0 10px;
    color: #b0b0b0;
}

.user-card .link {
    font-size: 12px;
    color: #ff6700;
}

.user-card .avatar {
    padding: 4px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}

.user-card .box{
    padding-top:40px;
    padding-left: 20px;
}

.user-actions {
    width: 358px;
    margin-top: 35px;
}

.action-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #757575;
}

.action-list li {
    position: relative;
    padding: 6px 0;
}

.action-list .level {
    color: #ffac13;
}

.action-list .btn{
    position: absolute;
    right: 0;
    top: 0;
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
}

.portal-sub{
    border-top: 1px solid #e0e0e0;
}

.info-list {
    margin: 0;
    padding: 60px 0 0;
    list-style-type: none;
    color: #757575;
    display: flex;
    flex-wrap: wrap;
}

.info-list li {
    position: relative;
    width: 388px;
    height: 80px;
    padding-left: 112px;
    padding-top: 15px;
    margin-left: 14px;
    margin-bottom: 80px;
}

.info-list .num {
    color: #ff6700;
}

.info-list a{
    color: #757575;
}

.info-list img {
    position: absolute;
    left: -10px;
    top: -10px;
}
